# server
/server/node_modules
/server/dist
/server/.env

# web
/web/node_modules
/web/.pnp
/web/.pnp.js
/web/coverage
/web/build
/web/.DS_Store
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# mobile
/mobile/*.class
/mobile/*.log
/mobile/*.pyc
/mobile/*.swp
/mobile/.DS_Store
/mobile/.atom/
/mobile/.buildlog/
/mobile/.history
/mobile/.svn/
/mobile/migrate_working_dir/
/mobile/*.iml
/mobile/*.ipr
/mobile/*.iws
/mobile/.idea/
/mobile/**/doc/api/
/mobile/**/ios/Flutter/.last_build_id
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/.pub-cache/
/mobile/.pub/
/mobile/build/
/mobile/app.*.symbols
/mobile/app.*.map.json
/mobile/android/app/debug
/mobile/android/app/profile
/mobile/android/app/release
