html,
body {
	@apply h-full overflow-hidden;
}
.card-container {
	@apply flex flex-col h-full box-border
}

.card-body {
	@apply flex flex-col overflow-y-auto p-4 flex-1
}

.card-table_bar {
	@apply flex w-full gap-4 justify-between;
}

.card-table_content {
	@apply my-4 overflow-y-auto
}

.card-table_image {
	@apply h-10 w-10 mr-4 rounded
}

.text-link {
	@apply tracking-tight uppercase font-bold cursor-pointer
}